/* colors from dracula theme */
$color-background: #21222c;
$color-background-alt: #282a36;
$color-background-bright: #6272a4;
$color-foreground: #f8f8f2;
$color-foreground-bright: #ffffff;
$color-red: #ff5555;
$color-red-bright: #ff6e6e;
$color-yellow: #f1fa8c;
$color-yellow-bright: #ffffa5;
$color-green: #50fa7b;
$color-green-bright: #69ff94;
$color-cyan: #8be6fd;
$color-cyan-bright: #a4ffff;
$color-purple: #bd93f9;
$color-purple-bright: #d6acff;
$color-magenta: #ff79c6;
$color-magenta-bright: #ff92df;

$color-hover: rgba($color-background-bright, 0.2);