@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Noto+Sans+KR:wght@300;400;500;700&family=Source+Code+Pro:ital@0;1&display=swap');

$font-family-barcode: 'Libre Barcode 39 Text', cursive;
$font-family-main: 'Noto Sans KR', sans-serif;
$font-family-mono: 'Source Code Pro', monospace;

$font-size-huge: 33px;
$font-size-large: 25px;
$font-size-medium: 19px;
$font-size-small: 16px;
$font-size-tiny: 13px;

$line-height-font-size-ratio: 1.5;

@mixin font-size($font-size) {
  font-size: $font-size;
  line-height: $font-size * $line-height-font-size-ratio;

  @media (max-width: 500px) {
    font-size: $font-size * 0.825;
    line-height: $font-size * $line-height-font-size-ratio * 0.825;
  }
}